In [6]:
import pandas as pd

In [2]:
from sklearn.datasets import load_diabetes

In [4]:
data = load_diabetes()

In [9]:
df = pd.DataFrame(data.data, columns=data.feature_names)

In [10]:
df

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641
...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018114,0.044485
439,0.041708,0.050680,-0.015906,0.017293,-0.037344,-0.013840,-0.024993,-0.011080,-0.046883,0.015491
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044529,-0.025930
441,-0.045472,-0.044642,-0.073030,-0.081413,0.083740,0.027809,0.173816,-0.039493,-0.004222,0.003064

In [12]:
df['age'].unique()

array([ 0.03807591, -0.00188202,  0.08529891, -0.08906294,  0.00538306,
       -0.09269548, -0.04547248,  0.06350368,  0.04170844, -0.07090025,
       -0.09632802,  0.02717829,  0.01628068,  0.04534098, -0.05273755,
       -0.00551455,  0.07076875, -0.0382074 , -0.02730979, -0.04910502,
       -0.0854304 , -0.06363517, -0.06726771, -0.10722563, -0.02367725,
        0.05260606,  0.06713621, -0.06000263,  0.03444337,  0.03081083,
        0.04897352,  0.01264814, -0.00914709, -0.09996055,  0.01991321,
       -0.05637009, -0.07816532, -0.04183994,  0.05987114, -0.03457486,
       -0.03094232, -0.10359309, -0.01641217,  0.00175052, -0.02004471,
        0.0562386 ,  0.02354575,  0.0090156 , -0.07453279, -0.01277963,
       -0.08179786,  0.08166637,  0.11072668,  0.09256398,  0.07440129,
        0.07803383,  0.09619652,  0.08893144])

In [13]:
(
    df['age']
    .unique()
)

array([ 0.03807591, -0.00188202,  0.08529891, -0.08906294,  0.00538306,
       -0.09269548, -0.04547248,  0.06350368,  0.04170844, -0.07090025,
       -0.09632802,  0.02717829,  0.01628068,  0.04534098, -0.05273755,
       -0.00551455,  0.07076875, -0.0382074 , -0.02730979, -0.04910502,
       -0.0854304 , -0.06363517, -0.06726771, -0.10722563, -0.02367725,
        0.05260606,  0.06713621, -0.06000263,  0.03444337,  0.03081083,
        0.04897352,  0.01264814, -0.00914709, -0.09996055,  0.01991321,
       -0.05637009, -0.07816532, -0.04183994,  0.05987114, -0.03457486,
       -0.03094232, -0.10359309, -0.01641217,  0.00175052, -0.02004471,
        0.0562386 ,  0.02354575,  0.0090156 , -0.07453279, -0.01277963,
       -0.08179786,  0.08166637,  0.11072668,  0.09256398,  0.07440129,
        0.07803383,  0.09619652,  0.08893144])

In [ ]:
df.pipe()